.iconify{
    margin-top: 7px;
    font-size: x-large;
    text-shadow: -1px 4px 3px rgba(46,20,12,0.54);


}

.sidenav-elt{
    margin-bottom: 50px;
}

.side-nav{
    position: fixed;
    right: 4%;
    top: 21%;
}

.sidenav-elt:hover{
    color:white;
    border: 0.5px black solid;
    background-color: white;
}
/* 
.icon:hover{
    color:#b36bfa;
}

.btn:hover{
    color:white;
} */

@media screen and (max-width: 660px){
    .sidenavigation{
        display:none;
    }
}