.card-content > .active{
    border-bottom: none;
}

.infocard{
    border-radius: 10px;
    padding-top: 2em;
}

.card-content> .iconify{
    font-size: 60px;
}

.link{
    width:100%;
    border-top: #8774b0 1px solid;
}

.title{
    font-weight: 600;
}