@media screen and (min-width:660px){
    .b-nav{
        display: none;
    }
}

@media screen and (max-width:660px){
    .b-nav{
    display:flex;
    position:fixed;
    bottom:20px;
    width:100%;
    height:50px;
    color:black;
    background-color: #171616;
}

    .bnav-elt{
        display: flex;
        flex-direction: column;
        width:25%;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        flex-grow:1;
        padding-top: 10px;
        -webkit-tap-highlight-color: #2e2c2c;
        transition: background 0.2 ease-in-out;
    }

    #codeforces{
        padding-top: 4px;
    }

}